$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     18px;

$bg-color: #191823;
$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


$scrollBarWidth: 14px;
$scrollBarColorBg: #494755;
$scrollBarColorFg: #757688;
$scrollBarColorFgH: #89879a;

@mixin customScrollbar {
  &::-webkit-scrollbar { width: $scrollBarWidth; height: $scrollBarWidth; }
  &::-webkit-scrollbar-track { background: $scrollBarColorBg; }
  &::-webkit-scrollbar-thumb { background: $scrollBarColorFg; border-radius: 5px; border: 2px solid $scrollBarColorBg; }
  &::-webkit-scrollbar-thumb:hover { background: $scrollBarColorFgH; }
}
