name: TEST

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  SKIP_KORGE_SAMPLES: true

jobs:
  build:

    runs-on: ubuntu-latest
    #continue-on-error: true

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Start gradle
      run: ./gradlew
    - name: Testing JVM
      run: ./gradlew --no-daemon jvmTest
    - name: Testing JS
      run: ./gradlew --no-daemon jsTest
