name: TEST

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CI: true
  SKIP_KORGE_SAMPLES: true

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      testJvm: ${{ steps.filter.outputs.jvm == 'true' || steps.filter.outputs.all == 'true' }}
      testJs: ${{ steps.filter.outputs.js == 'true' || steps.filter.outputs.all == 'true' }}
      testAndroid: ${{ steps.filter.outputs.android == 'true' || steps.filter.outputs.all == 'true' }}
      testWindows: ${{ steps.filter.outputs.windows == 'true' || steps.filter.outputs.native == 'true' || steps.filter.outputs.all == 'true' || steps.filter.outputs.jvm == 'true' }}
      testLinux: ${{ steps.filter.outputs.linux == 'true' || steps.filter.outputs.native == 'true' || steps.filter.outputs.all == 'true' || steps.filter.outputs.jvm == 'true' }}
      testMacos: ${{ steps.filter.outputs.macos == 'true' || steps.filter.outputs.native == 'true' || steps.filter.outputs.all == 'true' || steps.filter.outputs.jvm == 'true' }}
      testIos: ${{ steps.filter.outputs.ios == 'true' || steps.filter.outputs.native == 'true' || steps.filter.outputs.all == 'true' || steps.filter.outputs.jvm == 'true' }}
    steps:
      - uses: actions/checkout@v3
        if: ${{ github.event_name != 'pull_request' }}
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          base: ${{ github.ref }}
          filters: |
            all:
              - '.github/workflows/TEST.yml'
              - '**/build.gradle'
              - '**/build.gradle.kts'
              - '**/settings.gradle'
              - '**/settings.gradle.kts'
              - '**/buildSrc/**'
              - '**/gradle/**'
              - '**/src/common*/**'
            jvm:
              - '**/src/jvm*/**'
              - '**/src/concurrent*/**'
            android:
              - '**/AndroidManifest.xml'
              - '**/src/android*/**'
              - '**/src/jvmAndroid*/**'
              - '**/src/concurrent*/**'
              - '**/src/main/**'
            js:
              - '**/src/js*/**'
            native:
              - '**/src/native*/**'
              - '**/src/concurrent*/**'
            windows:
              - '**/src/mingw*/**'
            linux:
              - '**/src/linux*/**'
              - '**/src/posix*/**'
            macos:
              - '**/src/macos*/**'
              - '**/src/darwin*/**'
              - '**/src/posix*/**'
            ios:
              - '**/src/ios*/**'
              - '**/src/tvos*/**'
              - '**/src/watchos*/**'
              - '**/src/darwin*/**'
              - '**/src/posix*/**'

  test-jvm:
    needs: changes
    if: ${{ needs.changes.outputs.testJvm == 'true' }}
    timeout-minutes: 120
    runs-on: ubuntu-latest
    steps:
    - { uses: actions/checkout@v3 }
    - { name: Set up JDK 1.8, uses: actions/setup-java@v1, with: { java-version: 1.8 } }
    - { name: Install freeglut3 & openal, run: sudo apt-get update && sudo apt-get -y install freeglut3-dev libopenal-dev }
    - { name: Gradle cache, uses: ./.github/actions/gradle-cache }
    - { name: Grant execute permission for gradlew, run: chmod +x gradlew }
    - { name: Start gradle, run: ./gradlew }
    - { name: Testing JVM, run: ./gradlew jvmTest }
    - { name: Check sandbox compiles, run: "./gradlew :korge-sandbox:jvmJar" }
    - { name: Publish to maven local, run: ./gradlew publishJvmLocal }
    - { name: e2e test, uses: GabrielBB/xvfb-action@v1, with: { working-directory: e2e-test, run: ./gradlew checkReferencesJvm } }

  test-coverage:
    needs: changes
    if: ${{ needs.changes.outputs.testJvm == 'true' }}
    timeout-minutes: 120
    runs-on: ubuntu-latest
    steps:
      - { uses: actions/checkout@v3 }
      - { name: Set up JDK 1.8, uses: actions/setup-java@v1, with: { java-version: 1.8 } }
      - { name: Install freeglut3 & openal, run: sudo apt-get update && sudo apt-get -y install freeglut3-dev libopenal-dev }
      - { name: Gradle cache, uses: ./.github/actions/gradle-cache }
      - { name: Grant execute permission for gradlew, run: chmod +x gradlew }
      - { name: Start gradle, run: ./gradlew }
      - { name: Testing JVM, run: ./gradlew koverHtmlReport }
      - uses: actions/upload-artifact@v3
        with:
          name: coverage-results
          path: build/reports/kover/merged/html/
  test-js:
    needs: changes
    if: ${{ needs.changes.outputs.testJs == 'true' }}
    timeout-minutes: 120
    runs-on: ubuntu-latest
    steps:
      - { uses: actions/checkout@v3 }
      - { name: Set up JDK 1.8, uses: actions/setup-java@v1, with: { java-version: 1.8 } }
      - { name: Install freeglut3 & openal, run: sudo apt-get update && sudo apt-get -y install freeglut3-dev libopenal-dev }
      - { name: Gradle cache, uses: ./.github/actions/gradle-cache }
      - { name: Grant execute permission for gradlew, run: chmod +x gradlew }
      - { name: Start gradle, run: ./gradlew }
      - { name: Testing NodeJS, run: ./gradlew jsNodeTest }
      - { name: Testing Browser, run: ./gradlew jsBrowserTest }

  test-android:
    needs: changes
    if: ${{ needs.changes.outputs.testAndroid == 'true' }}
    timeout-minutes: 120
    #runs-on: macos-11
    runs-on: ubuntu-latest
    steps:
      - { uses: actions/checkout@v3 }
      - { name: Set up JDK 1.8, uses: actions/setup-java@v1, with: { java-version: 1.8 } }
      #- { name: Install freeglut3 & openal, run: sudo apt-get update && sudo apt-get -y install freeglut3-dev libopenal-dev }
      #- { name: Gradle cache, uses: ./.github/actions/gradle-cache }
      - { name: Grant execute permission for gradlew, run: chmod +x gradlew }
      - { name: Start gradle, run: ./gradlew }
      #- { name: Try building Android, run: ./gradlew publishAndroidPublicationToMavenLocal }
      - name: Run Android Connected Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 21
          script: ./gradlew connectedCheck

  test-native-ios:
    needs: changes
    if: ${{ needs.changes.outputs.testIos == 'true' }}
    timeout-minutes: 120
    runs-on: macos-11
    steps:
      - { uses: actions/checkout@v3 }
      - { name: Set up JDK 1.8, uses: actions/setup-java@v1, with: { java-version: 1.8 } }
      - { name: Gradle cache, uses: ./.github/actions/gradle-cache }
      - { name: Grant execute permission for gradlew, run: chmod +x gradlew }
      - { name: Start gradle, run: ./gradlew }
      - { name: Check compilation of iOS targets, run: ./gradlew publishIosArm64PublicationToMavenLocal publishIosArm32PublicationToMavenLocal publishIosX64PublicationToMavenLocal }
      - { name: Run ios simulator tests, run: ./gradlew iosX64Test }


  test-native-linux:
    needs: changes
    if: ${{ needs.changes.outputs.testLinux == 'true' }}
    timeout-minutes: 120
    runs-on: ubuntu-latest
    steps:
      - { uses: actions/checkout@v3 }
      - { name: Set up JDK 1.8, uses: actions/setup-java@v1, with: { java-version: 1.8 } }
      - { name: Install freeglut3 & openal, run: sudo apt-get update && sudo apt-get -y install freeglut3-dev libopenal-dev }
      - { name: Gradle cache, uses: ./.github/actions/gradle-cache }
      - { name: Grant execute permission for gradlew, run: chmod +x gradlew }
      - { name: Start gradle, run: ./gradlew }
      - { name: Testing Kotlin/Native Linux, run: ./gradlew linuxX64Test }
      - { name: Publish gradle plugin, run: "./gradlew :korge-gradle-plugin:publishToMavenLocal" }
      - { name: Publish X64, run: ./gradlew publishLinuxX64PublicationToMavenLocal publishKotlinMultiplatformPublicationToMavenLocal }
      - { name: e2e test, uses: GabrielBB/xvfb-action@v1, with: { working-directory: e2e-test, run: ./gradlew checkReferencesNative } }

  test-native-macos:
    needs: changes
    if: ${{ needs.changes.outputs.testMacos == 'true' }}
    timeout-minutes: 120
    runs-on: macos-11
    steps:
      - { uses: actions/checkout@v3 }
      - { name: Set up JDK 1.8, uses: actions/setup-java@v1, with: { java-version: 1.8 } }
      - { name: Gradle cache, uses: ./.github/actions/gradle-cache }
      - { name: Grant execute permission for gradlew, run: chmod +x gradlew }
      - { name: Start gradle, run: ./gradlew }
      - { name: Testing Kotlin/Native MacosX64, run: ./gradlew macosX64Test }
      - { name: Publish gradle plugin, run: "./gradlew :korge-gradle-plugin:publishToMavenLocal" }
      - { name: Publish X64, run: ./gradlew publishMacosX64PublicationToMavenLocal publishKotlinMultiplatformPublicationToMavenLocal }
      - { name: e2e test, working-directory: e2e-test, run: ./gradlew checkReferencesNative }
      - { name: Publish Arm64, run: ./gradlew publishMacosArm64PublicationToMavenLocal }

  test-native-windows:
    needs: changes
    if: ${{ needs.changes.outputs.testWindows == 'true' }}
    timeout-minutes: 120
    runs-on: windows-latest
    env:
      DISABLE_JAVASCRIPT_TEST: true
      GRADLE_OPTS: -Dorg.gradle.daemon=false -Dkotlin.compiler.execution.strategy=in-process -Dorg.gradle.workers.max=3
    steps:
      - { uses: actions/checkout@v1 }
      - { name: Set up JDK 1.8, uses: actions/setup-java@v1, with: { java-version: 1.8 } }
      - { name: Gradle cache, uses: ./.github/actions/gradle-cache }
      - { name: Testing Kotlin/Native MingwX64Test, shell: cmd, run: CALL gradlew.bat mingwX64Test }
      - { name: Publish gradle plugin, shell: cmd, run: "CALL gradlew.bat :korge-gradle-plugin:publishToMavenLocal" }
      - { name: Publish X64, shell: cmd, run: CALL gradlew.bat publishMingwX64PublicationToMavenLocal publishKotlinMultiplatformPublicationToMavenLocal }
      - { name: e2e test, shell: cmd, working-directory: e2e-test, run: CALL gradlew.bat checkReferencesNative }
